.modal-tokyo .modal-header {
    border-bottom:0!important;
}

.modal-tokyo .modal-header .modal-title {
    font-weight:bold;
}

.modal-tokyo .modal-footer {
    border-top:0!important;
}

.modal-notice {
    background: linear-gradient(87deg,#f5365c 0,#f56036 100%)!important;
    color: #fff;
}