.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.table thead th {
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}

.table td, .table th {
    font-size: .8125rem;
    white-space: nowrap;
}

.table.align-items-center td, .table.align-items-center th {
    vertical-align: middle;
}